body {
  background-color: black;
}
#root {
  background-color: rgb(165, 204, 226);
  padding: 100px;
  margin: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
